<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

    <link href="~/css/styles.css" rel="stylesheet" />
    @RenderSection("styles", false)

</head>
<body>

    <div class="wrapper container">
        <div class="menu">
            <div class="menu-part">
                <a hasp-controller="Home" asp-action="Index">Home</a>
            </div>

            <div class="menu-part">

            </div>
        </div>

        <div class="content">
            @RenderBody()
        </div>

        <div class="push"></div>
    </div>

    <div class="footer">
        @RenderSection("footer", false)
    </div>

    @RenderSection("scripts", false)
</body>
</html>
